.BasisPage {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 768px;
  background-image: url('../../images/BasisPage_background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.BasisPage__header {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  font-size: 3.125rem;
  text-align: center;
  color: #fff;
  padding-top: 25%;
  font-weight: 400;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.BasisPage__image {
  position: absolute;
}

.BasisPage__image_first {
  top: 21%;
  left: 8%;
}

.BasisPage__image_second {
  top: 57%;
  left: 22%;
}

.BasisPage__image_third {
  top: 76%;
  left: 70%;
}

.BasisPage__image_fourth {
  top: 7%;
  right: 0;
}